* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
  
  :root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --background-color: #ecf0f1; /* Light Gray */
    --text-color: #2c3e50; /* Dark Gray */
    --fontColor: #0652dd;
  }
  
  .heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .carousel_image {
    padding-top: 30px;
    width: 800px;
    height: 450px;
  }
  
  .heroSec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 100px;
    margin-bottom: 60px;
  }
  
  .image_div{
      flex-wrap: wrap;
  }
  
  .heading {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 60px;
      margin-right: 30px;
      margin-top: -30px;
      text-align: end;
      padding-bottom: 30px;
  }
  
  
  
.main{
    background-color: white;
  
}
.header {
    width: auto;
    height: auto;
    background-color: #071952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 40px;
    gap: 10px;
}

.logo>h1 {
    color: white;
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
}

.btn-class{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#signUp-btn{
    color: white;
   
}
#signIn-btn{

    color: white;
}
.color-span {
    color: #071952;
}

.hero-section>h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 35px;
    font-style: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section > h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
  
    width: 100%;
    display: flex;
    align-items: center;
  flex-wrap: wrap;
    gap: 30px;
    padding: 20px 30px;
    font-size: 20px;

}

.sub-section1>h3 {
    font-size: 30px;
    color: #071952;
}

.sub-section1>span {
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.sub-section1>p {
    font-weight: 300;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-section2>h3 {
    font-size: 30px;
    color: #071952;
}

.sub-section2>span {
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.sub-section2>p {
    font-weight: 300;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-section3>h3 {
    font-size: 30px;
    color: #071952;
}

.sub-section3>span {
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.sub-section3>p {
    font-weight: 300;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer{
    height: 60px;
    width: auto;
    background-color: white;
    text-align: center;
    padding: 20px;
}
