*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

.greeting{
    color: #071952;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
   
}
.courseCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;
}

#card-image{
    height: 200px;
    padding-top: 20px;
}

#card-image1{
    height: 200px;
    /* padding-top: 20px; */
}


.main_blog_seec{
    height: 500px;
    
    background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}

#blogTextArea{
    width: 360px;
padding-left: 20px;
padding-top: 10px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}

.blogSection{
    flex-direction: column;
}

.blog_heading{
    border-radius: 10px;
    padding: 10px;
    width: 360px;
    
}
#dashboardHeader{
background-color: #0652dd;
}

#signoutBtn{
color: white;
}


.Cards{
    width: 200px;
    height: 200px;
    background-color: red;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  #posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
    box-sizing: border-box;
 
  

  }

  
  .card h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
  }
  
  .card p {
    margin: 0;
    color: #555;
  padding-right: 30px;
   
  }
  
  .card .date {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
  }
.name{
    padding-top: 20px;
}
 

  